[submodule "libtropic"]
	path = libtropic
	url = https://github.com/tropicsquare/libtropic.git
[submodule "vendor/mbedtls_v4"]
	path = vendor/mbedtls_v4
	url = https://github.com/Mbed-TLS/mbedtls.git
